*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    
    background-color: rgb(44, 41, 41);
    background-attachment: fixed;
    
}
.top-nav{
    width:100vw;
    height: 4vh;
    background-color: #fc456a;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    /* this is only works when we use display flex property */
    justify-content: space-around;
}
.top-nav-col1{
    width: 50%;
    color: rgb(148, 138, 138);
    display: flex;
    justify-content: center;
}
.top-nav-col1 a{
    text-decoration: none;
    color: white;
}
.top-nav-col2 i{
color: white;
}
.top-nav-col2{
    width: 50%;
    display: flex;
    justify-content:center;
    gap: 20px;    
}
.second-nav{
    width:100vw;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    display:flex;
    justify-content: space-around;
}
.second-nav-col1{
    width: 30%;
}
.second-nav-col1 b{
    color: black;
}
.second-nav-col1 a{
    font-size: xx-large;
    width:50% ;
    text-decoration: none;  
}
.second-nav-col1 span{
    color: #fc456a;
}
.second-nav-col2 button{
    background-color: transparent;
    border: none;
    cursor: pointer; 
    font-size: medium;
    color: gray;
}
.second-nav-col2{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size:xx-large;
    font-weight: 400;
    width: 50%;
}
.pic {
    height: 100vh;
    background-image:url('../image/rent');
    background-position: center center;
    background-attachment:fixed;
    background-size: 100% 100%;
    display:flex;
    justify-content:space-around;
    width: 100vw;
   padding-bottom: 300px;
   position: relative;
   z-index: 1;
}
.tab1{
    padding-top: 150px;
    padding-right: 300px;
    width: 70%;
}
.subhed1{
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    position: relative;
    color: white;
    font-family: "Poppins", Arial, sans-serif;
    display: flex;
    justify-content:baseline;
    padding-left: 40px;
}
.subhed2{
    font-size: 4em;
    letter-spacing: 3px;
    color: white;
    text-shadow:  0px 3px 25px rgba(0, 0, 0, 0.1);
    padding-left: 40px;
}
.bt{
    padding-left: 40px;
}

.bt button{
border: none;
    height: 40px;
    width: 180px;
    cursor: pointer;
    text-decoration: none;
    gap: 20px;
    border-radius: 6px;
}
.bt1 button{
    background-color:#fc456a;
    color: white;
    font-family: 'Times New Roman', Times, serif;
font-size: x-large;
}
.bt2 button{
    background-color:white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
.tab2{
    background-color: white;
    display: flex;
    justify-content:center;
border-radius: 2px 2px 10px 10px;
    height: 65vh;
    width: 27vw;    
}
.hd label{
    display: flex;
    padding-left: 40px;
    font-size: x-large;    
}
.h1 input{
    border: none;
    border-radius: 6px;
    background-color: #f2f2f2;
    height: 7vh;
    width: 22vw;
    display: flex;
}
.h2 input{
    background-color: #f2f2f2;
    height: 7vh;
    width: 10vw;
    border: none;
    border-radius: 6px;
}
.h2-2{
    padding-right: 35px;

}
.opt-1 select{
    border: none;
    border-radius: 6px;
    background-color: #f2f2f2;
    height: 7vh;
    width: 10vw;
    display: flex;
    color:grey;
    text-align:justify;
}
.opt-2 select{
    border: none;
    border-radius: 6px;
    background-color: #f2f2f2;
    height: 7vh;
    width: 10vw;
    display: flex;
    color: grey;
    text-align: justify;
}
.oo-1 input{ 
    height: 7vh;
    width: 10vw;
    background-color: #f2f2f2;
    border: none;
    border-radius: 6px;
}
.oo-2{ 
    padding-right: 40px;
}
.oo-2 input{
    height: 7vh;
    width: 10vw;
    background-color: #f2f2f2;
    border: none;
    border-radius: 6px;
}
.but button{
    height: 7vh;
    background-color: #fc456a;
    border: none;
    cursor: pointer;
    color: white;
    width: 22vw;
    border-radius: 6px;
}
.win{
    top: 650px;
    width: 100vw;
    height: 45vw;
    display: flex;
    background-color:whitesmoke;
    position: absolute;
}
.bk1{
    height: 80%;
    width: 28%;
    background-position: center center;
   margin: 0px 1px 30px 55px;
    background-color:#fff;
    border-radius: 10px;
    border-block-end-style:inset;
    z-index: 2;
    
}
.win1{
   width: 30vw;
}
.win1 img{
   height: 41vh;
   width: 80%;
   margin: 20px 25px 20px 25px;
}
.win1 h3{
    padding-top: 5px;
    padding-left: 100px;
    font-size: 1.4em;
    font-family:'Times New Roman', Times, serif ;
}
.win1 p{
    font-size: medium;
    margin-bottom: 1rem;
    padding-left: 35px;
}
.win1 a{
    padding-left: 110px;
     
}
.win1 button{
    height: 5vh;
    width: 8vw;
   border: none;
   background-color: #fc456a;
   color: aliceblue;
   cursor: pointer;
   border-radius: 6px;
}
.bk2{
    height: 80%;
    width: 28%;
    background-position: center center;
   margin: 0px 1px 30px 45px;
    background-color:#fff;
    border-radius: 10px;
    border-block-end-style:inset;
    z-index: 2;
   
}
.win2{
    width: 30vw;
}
.win2 img{
    height: 41vh;
   width: 80%;
   margin: 20px 25px 20px 25px;
}
.win2 h3{
    padding-top: 5px;
    padding-left: 80px;
    font-size: 1.4em;
    font-family:'Times New Roman', Times, serif ;

}
.win2 p{
    font-size: medium;
    margin-bottom: 1rem;
    padding-left: 35px;
}
.win2 a{
    padding-left: 130px;
}
.win2 button{
    height: 5vh;
    width: 8vw;
    border: none;
    background-color: #fc456a;
    color: aliceblue;
    cursor: pointer;
    border-radius: 6px;
}
.bk3{
    height: 80%;
    width: 28%;
    background-position: center center;
   margin: 0px 1px 30px 45px;
    background-color:#fff;
    border-radius: 10px;
    border-block-end-style:inset;
    z-index: 2;
    
}
.win3{
    width: 30vw;
}
.win3 img{
    height: 41vh;
    width: 80%;
    margin: 20px 25px 20px 25px;
}
.win3 h3{
    padding-top: 5px;
    padding-left: 100px;
    font-size: 1.4em;
    font-family:'Times New Roman', Times, serif ;  
}
.win3 p{
    font-size: medium;
    margin-bottom: 1rem;
    padding-left: 35px;
}
.win3 a{
    padding-left: 130px;
}
.win3 button{
    height: 5vh;
    width: 8vw;
    border: none;
    background-color: #fc456a;
    color: aliceblue;
    cursor: pointer;
    border-radius: 6px;
}