*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    
    background-color: rgb(44, 41, 41);
    background-attachment: fixed;
}

.top-nav{
    width:100vw;
    background-color: #fc456a;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    /* this is only works when we use display flex property */
    justify-content: space-around;

}
.top-nav-col1{
    width: 50%;
    color: rgb(148, 138, 138);
    display: flex;
    justify-content: center;
}
.top-nav-col1 a{
    text-decoration: none;
    color: white;
}
.top-nav-col2 i{
color: white;
}
.top-nav-col2{
    width: 50%;
    display: flex;
    justify-content:center;
    gap: 20px;    
}
.second-nav{
    width:100vw;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    display:flex;
    justify-content: space-around;
}
.second-nav-col1{
    width: 30%;
}
.second-nav-col1 b{
    color: black;
}
.second-nav-col1 a{
    font-size: xx-large;
    width:50% ;
    text-decoration: none;
    
}
.second-nav-col1 span{
    color: #fc456a;

}
.second-nav-col2 button{
    background-color: transparent;
    border: none;
    cursor: pointer;
   
}
.second-nav-col2{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size:xx-large;
    font-weight: 400;
    width: 50%;
}
.pic {
    height: 580px;
    background-image:url('../image/rent');
    background-position: center center;
    background-attachment:fixed;
    background-size: 100% 100%;
    display:flex;
    justify-content:space-around;
    width: 100vw;
   padding-bottom: 300px;
}
.tab1{
    padding-top: 150px;
    padding-right: 300px;
    width: 70%;
}
.subhed1{
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    position: relative;
    color: white;
    font-family: "Poppins", Arial, sans-serif;
    display: flex;
    justify-content:baseline;
    padding-left: 40px;

}
.subhed2{
    font-size: 60px;
    letter-spacing: 3px;
    color: white;
    text-shadow:  0px 3px 25px rgba(0, 0, 0, 0.1);
    padding-left: 40px;
}
.bt{
    padding-left: 40px;
}
.bt button{
   
    border: none;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    gap: 20px;
}
.bt1 button{
    background-color:#fc456a;
    color: white;
    font-family: 'Times New Roman', Times, serif;
font-size: 30px;

}
.bt2 button{
    background-color:white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    

}
.tab2{
    background-color: white;
    display: flex;
    justify-content:center;

    height: 400px;
    width: 350px;
    
}
.hd label{
    display: flex;
    padding-left: 40px;
    font-size: x-large;
    
}
.h1 input{
    background-color: #f2f2f2;
    height: 40px;
    width: 300px;
    display: flex;
    
    
    
}
.h2 input{
    background-color: #f2f2f2;
    height: 40px;
    width: 140px;
    
}
.h2-2{
    padding-right: 35px;

}
.opt option{ 
    
    height: 35px;
    width: 120px;   
}
.opt-2{
    padding-right: 35px;
    
}
.oo-1 input{ 
    height: 40px;
    width: 135px;
    background-color: #f2f2f2;
}
.oo-2{ 
    padding-right: 40px;

}
.oo-2 input{
    height: 40px;
    width: 138px;
    background-color: #f2f2f2;

}
.but {
    background-color: #fc456a;
    height: 40px;
}
.but a{
    width: 140px;
}
.but button{
    
    background-color: #fc456a;
    border: none;
    cursor: pointer;
    color: white;

}
.win{
    width: 100vw;
    display: flex;
    
   
}
.win1{
    width: 33%;
    background-position: center center;
}
.win1 img{
   height: 250px;
   width: 80%;
}