<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="page">
        <div class="top-nav">
        <div class="top-nav-col1">
            <p>Phone no:
                <a href="tel:8219722473">+91 8219722473</a>
                or email us:
                    <a href="mailto:ts6308969@gmail.com">ts6308969@gmail.com</a>
            </div
            >
        <div class="top-nav-col2" >
            <a href="https://www.facebook.com/" >
                <i class="bi bi-facebook" ></i>
            </a>
            <a href="">
                <i class="bi bi-twitter"></i>

            </a>
            <a href="">
                <i class="bi bi-instagram"></i>

            </a>
            <a href="">
                <i class="bi bi-dribbble"></i>
            </a>
        </div>
    </div></div>
    <br>
    <div class="second-nav">

    <div class="second-nav-col1">
    <a href="">
        <b>Vacation<span>Rental</span></b>
    </a>
    </div>
   
   <div class="second-nav-col2">
    
    <a href="/index" ><button>Home</button> 
 </a>
    <a href="/about"><button>About</button>
    </a>
    <a href="/services"><button>Services</button></a>
    <a href="/apartment"><button>Aparment Room</button></a>
    <a href="/blog"><button>Blog</button></a>
    <a href="/contact"><button>Contact</button></a>
   </div>
   </div>
   <div class="about-page-pic">
    <p>HOME <i class="bi bi-caret-right-fill"></i> ABOUT<i class="bi bi-caret-right-fill"></i></p>
<h1>ABOUT US</h1>
   </div>
   <div class="about-win">
    <div class="bk">
    <div class="win1">
        <img src="../static/image/images (1).jfif" alt="">
        <h3>Map Direction</h3>
        <p>" Even the all-powerful Pointing has no <br>control about the blind texts it is an almost <br>unorthographic."</p>
        <a href=""><button>Read More</button></a>
    </div></div>
    <div class="bk">
    <div class="win2">
        <img src="../static/image/accomodation" alt="">
        <h3>Accomodation Services</h3>
        <p> "Even the all-powerful Pointing has no control <br>about the blind texts it is an almost <br>unorthographic."</p>
        <a href=""><button>Read More</button></a>
    </div></div>
    <div class="bk">
    <div class="win3">
        <img src="../static/image/services-3.jpg" alt="">
        <h3>Great Experience</h3>
        <p> "Even the all-powerful Pointing has no control <br>about the blind texts it is an almost<br> unorthographic."</p>
        <a href=""><button>Read More</button></a>
    </div>
    </div>
   </div>
   <div class="about-feedback">
    <div class="feedback-heading">
        <h2>Happy Clients & Feedbacks</h2>
    </div>
    <div class="feedback-content">
        <div class="feedback-content-item">
            <div class="fb-item-image">
                <img src="../static/image/feedback1.enc" alt="">
            </div>
            <div class="fb-item-content">
                <p>"Great property with a convenient location and excellent amenities. Perfect for a stress-free vacation. Definitely met all my expectations." </p>
                <p class="intro">Saurav</p>
                <p>Data Analyst</p>
            </div>
        </div>
        <div class="feedback-content-item">
            <div class="fb-item-image">
                <img src="../static/image/feedback2.enc" alt="" >
            </div>
            <div class="fb-item-content">
                <p>"Had a fantastic stay! The house was clean, well-equipped, well-furnished, and perfectly located. Great place to relax after coding all day."</p>
                <p class="intro">Anku Rana</p>
                <p>Software Developer</p>
            </div>
        </div>
        <div class="feedback-content-item">
            <div class="fb-item-image">
                <img src="../static/image/feedback3.enc" alt="">
            </div>
            <div class="fb-item-content">
                <p>"Fantastic stay! The property was clean, well-maintained, well-equipped, and perfectly located. Ideal for mixing business with leisure. Highly recommend!"</p>
                <p class="intro">Eshita</p>
                <p>Buisness Women</p>
            </div>
        </div>
    </div>
</div>
<div class="about-offer">
    <div class="offer-pic">
        <img src="../static/image/offerpic.webp" alt="" height="75%" width="100%" >
        <h9>The most recommended vacation rental</h9>
        <p>"Discover a variety of vacation rentals, from luxurious beachfront villas to cozy mountain cabins and charming countryside cottages. Enjoy top-notch amenities likeprivate pools, hot tubs, and gourmet kitchens. Located in prime destinations, these rentals offer easy access to local attractions and activities."</p>
    </div>
    <div class="offer-text">
        <div class="offer-text-hd">
            <h6>what we offer</h6></div>
        <p> Perfect for romantic retreats, family adventures, or solo escapes, each property provides a unique home away from home experience with flexible booking options and exceptional hospitality for a memorable getaway."</p>
        <div class="offer-text-offer one">
            <div class="offer-icon">
                <span class="offer-icon1"><i class="bi bi-cup-hot"></i></span>
            </div>
        <div class=" offer-text-1">
            <h8>Tea Coffee</h8>
            <p>Our well-stocked selection of premium teas and high-quality coffees is available for your enjoyment.We have everything you need. </p>
        </div></div>
        <div class="offer-text-offer one">
            <div class="offer-icon">
                <span class="offer-icon1"><i class="bi bi-water"></i></span>
            </div>
        <div class="offer-text-1 ">
            <h8>Hot Showers</h8>
            <p>our apartment features luxurious hot showers for your ultimate comfort. After a day of exploring, relax and rejuvenate with a soothing hot shower in our modern and well-appointed bathroom. </p>
        </div></div>
        <div class="offer-text-offer one">
            <div class="offer-icon">
                <span class="offer-icon1"><i class="bi bi-box2"></i></span>
            </div>
        <div class="offer-text-1">
            <h8>Laundry</h8>
            <p> Our apartment features a modern washer and dryer, allowing you to refresh your wardrobe and enjoy an extended stay without the hassle. We strive to provide all the conveniences of home.</p>
        </div></div>
        <div class="offer-text-offer one">
            <div class="offer-icon">
                <span class="offer-icon1"><i class="bi bi-fan"></i></span>
            </div>
        <div class="offer-text-1">
            <h8>Air conditioning</h8>
            <p>Our apartment is equipped with a modern air conditioning system, allowing you to maintain the perfect temperature and enjoy a cool, refreshing retreat from the outside heat.  </p>
        </div></div>
        <div class="offer-text-offer one">
            <div class="offer-icon">
                <span class="offer-icon1"><i class="bi bi-wifi"></i></span>
            </div>
        <div class="offer-text-1">
            <h8>Free Wifi</h8>
            <p>Whether you need to catch up on work, stream your favorite shows, or stay in touch with loved ones, our reliable internet service ensures you have everything you need.  </p>
        </div></div>
        <div class="offer-text-offer one">
            <div class="offer-icon">
                <span class="offer-icon1"><i class="bi bi-door-open"></i></span>
            </div>
        <div class="offer-text-1">
            <h8>kitchen</h8>
            <p>Our modern kitchen features all the appliances and utensils you need to prepare your favorite meals, from a quick breakfast to a gourmet dinner.  </p>
        </div></div>
        <div class="offer-text-offer one">
            <div class="offer-icon">
                <span class="offer-icon1"><i class="bi bi-dash-lg"></i></span>
            </div>
        <div class="offer-text-1">
            <h8>Ironing</h8>
            <p> Our apartment is equipped with a high-quality iron and ironing board, allowing you to keep your clothes neat and wrinkle-free throughout your stay. We are committed to providing all the comforts of home. </p>
        </div></div>
        <div class="offer-text-offer one">
            <div class="offer-icon">
                <span class="offer-icon1"><i class="bi bi-database-lock"></i></span>
            </div>
        <div class="offer-text-1">
            <h8>Lockers</h8>
            <p> Our apartment is equipped with personal lockers to store your valuables safely during your stay. Enjoy peace of mind knowing that your belongings are secure while you explore and relax.  </p>
        </div></div>
    </div>

   </div>
   <div class="about-end"> 
    <div class="end1">
        <b class="end-hd">Vacational Rental</b>
        <p>Create a user-friendly, mobile-responsive vacation rental website with detailed property listings, booking system, secure payments, and excellent customer support.</p>
        <a href="" class="end-but">Read more></a>
    </div>
    <div class="end1">
        <b class="end-hd">Services</b>
        <ul class="end1-services-li">
            <li><a href="">Map Direction</a></li>
            <li><a href="">Accomodation Services</a></li>
            <li><a href="">Great Experience</a> </li>
            <li><a href="">Perfect Central Location</a></li>
        </ul>
    </div>
    <div class="end1">
        <b class="end-hd">Tag Cloud</b>
        <diV class="end1-label"><a href="" class="cloud">Aparment</a>
            <a href="" class="cloud">Home</a>
            <a href="" class="cloud">Vacation</a><br>
            <a href="" class="cloud">Rent</a>
            <a href="" class="cloud">House</a>
            <a href="" class="cloud">Place</a>
            <a href="" class="cloud">Drink</a> </diV>
         
    </div>
    <div class="end4">
        <b class="end-hd">Subscribe</b>
        <div class="Subscribe">
            <div class="subscribe-sub">
            <input type="email" id="" placeholder="Enter email address">
            <a href=""><button><i class="bi bi-send-fill"></i></button></a></div>
            <div class="follow">
                <b>Follow Us</b>
                <div class="social">
                    <a href=""><button><i class="bi bi-twitter-x"></i></button></a>
                <a href=""><button><i class="bi bi-facebook"></i></button></a>
                <a href=""><button><i class="bi bi-instagram"></i></button></a></div>

            </div>
        </div>
        
    </div>
   
</div>
</body>
</html>