<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../static/css/blog.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="page">
        <div class="top-nav">
        <div class="top-nav-col1">
            <p>Phone no:
                <a href="tel:8219722473">+91 8219722473</a>
                or email us:
                    <a href="mailto:ts6308969@gmail.com">ts6308969@gmail.com</a>
            </div
            >
        <div class="top-nav-col2" >
            <a href="https://www.facebook.com/" >
                <i class="bi bi-facebook" ></i>
            </a>
            <a href="">
                <i class="bi bi-twitter"></i>

            </a>
            <a href="">
                <i class="bi bi-instagram"></i>

            </a>
            <a href="">
                <i class="bi bi-dribbble"></i>
            </a>
        </div>
    </div></div>
    <br>
    <div class="second-nav">

    <div class="second-nav-col1">
    <a href="">
        <b>Vacation<span>Rental</span></b>
    </a>
    </div>
   
   <div class="second-nav-col2">
    
    <a href="/index" ><button>Home</button> 
 </a>
    <a href="/about"><button>About</button>
    </a>
    <a href="/services"><button>Services</button></a>
    <a href="/apartment"><button>Aparment Room</button></a>
    <a href="/blog"><button>Blog</button></a>
    <a href="/contact"><button>Contact</button></a>
   </div>
   </div>
   <div class="about-page-pic">
    <p>HOME <i class="bi bi-caret-right-fill"></i> BLOG<i class="bi bi-caret-right-fill"></i></p>
<h1>BLOG</h1>
   </div>
   <div class="blog">
        <div><p class="blog-hd1">Latest news from our blog</p>

        <p class="blog-hd-2">NEWS & BLOG</p></div>

        <div class="blog-block">
             <div class="blog-area blg1">
                 <div class="blg-pic">
                <img src="../static/image/blog1.webp" alt="">
            </div>
            <div class="blg-text">
                <a href="" class="blg-text-hd1">Work Hard, Party Hard in a Luxury Chalet in the Alps</a>
               <div class="blg-date"> <a href="">
                <span class="blg-text-hd2">May 1,2023</span>
                <span class="blg-admin">Admin</span>
                <span class="msg"><i class="bi bi-chat-fill"><sup>7</sup></i></span></a></div>
            <p class="blg-text-hd3">Experience productivity and relaxation in an Alpine luxury chalet, blending stunning views, modern amenities, and thrilling après-ski activities. Work hard, party hard!  </p></div></div>
        
            <div class="blog-area blg1">
                <div class="blg-pic">
               <img src="../static/image/blog2.avif" alt="">
           </div>
           <div class="blg-text">
               <a href="" class="blg-text-hd1">Essential Skills for Thriving in Web Development Today</a>
               <div class="blg-date"><a href="">
                   <span class="blg-text-hd2">April 13,2023</span>
                    <span class="blg-admin">Admin</span>
                    <span class="msg"><i class="bi bi-chat-fill"><sup>7</sup></i></span></a></div>
           <p class="blg-text-hd3">Web developers need proficiency in HTML, CSS, and JavaScript, as well as knowledge of responsive design, version control, and frameworks like React or Angular to succeed in today's competitive landscape.  </p></div></div>

           <div class="blog-area blg1">
            <div class="blg-pic">
           <img src="../static/image/blog3.jpg" alt="">
       </div>
       <div class="blg-text">
           <a href="" class="blg-text-hd1">Top Destinations: Perfect Getaways for Adventure Junkies</a>
           <div class="blg-date"><a href="">
               <span class="blg-text-hd2">December 30,2023</span>
               <span class="blg-admin">Admin</span>
               <span class="msg"><i class="bi bi-chat-fill"><sup>7</sup></i></span></a></div>
       <p class="blg-text-hd3">
        Discover thrilling destinations, adrenaline-pumping activities, and expert tips for adventure junkies. Embrace your wild side and embark on unforgettable journeys around the world. </p></div>
     
      
        </div>
        <div class="blog-area blg1">
            <div class="blg-pic">
           <img src="../static/image/blog4.png" alt="">
       </div>
       <div class="blg-text">
           <a href="" class="blg-text-hd1">How about "Wanderlust Tales with NomadIC"?</a>
          <div class="blg-date"> <a href="">
           <span class="blg-text-hd2">June 7,2024</span>
           <span class="blg-admin">Admin</span>
           <span class="msg"><i class="bi bi-chat-fill"><sup>9</sup></i></span></a></div>
       <p class="blg-text-hd3">Welcome to "Wanderlust Tales with NomadIC," where adventure meets narrative! Join us as we embark on a journey through the world's most captivating destinations.   </p></div></div>
       <div class="blog-area blg1">
        <div class="blg-pic">
       <img src="../static/image/blog5.png" alt="">
   </div>
   <div class="blg-text">
       <a href="" class="blg-text-hd1">CoinDesk: Blockchain Trends and Insights</a>
      <div class="blg-date"> <a href="">
       <span class="blg-text-hd2">July 4,2024</span>
       <span class="blg-admin">Admin</span>
       <span class="msg"><i class="bi bi-chat-fill"><sup>4</sup></i></span></a></div>
   <p class="blg-text-hd3">Explore the CoinDesk blog for the latest in cryptocurrency news, blockchain technology, and market trends. Our expert insights and in-depth analysis keep you informed about digital assets and industry developments.  </p></div></div>
   <div class="blog-area blg1">
    <div class="blg-pic">
   <img src="../static/image/blog6.png" alt="">
</div>
<div class="blg-text">
   <a href="" class="blg-text-hd1">Insights and Reflections from Thought Catalog</a>
  <div class="blg-date"> <a href="">
   <span class="blg-text-hd2">August 15,2024</span>
   <span class="blg-admin">Admin</span>
   <span class="msg"><i class="bi bi-chat-fill"><sup>2</sup></i></span></a></div>
<p class="blg-text-hd3">Dive into "Exploring Ideas and Personal Stories" on Thought Catalog. Discover thought-provoking essays, personal reflections, and unique perspectives that challenge conventional thinking .  </p></div></div>
    </div></div>
    <div class="end"> 
        <div class="end1">
            <b class="end-hd">Vacational Rental</b>
            <p>Create a user-friendly, mobile-responsive vacation rental website with detailed property listings, booking system, secure payments, and excellent customer support.</p>
            <a href="" class="end-but">Read more></a>
        </div>
        <div class="end1">
            <b class="end-hd">Services</b>
            <ul class="end1-services-li">
                <li><a href="">Map Direction</a></li>
                <li><a href="">Accomodation Services</a></li>
                <li><a href="">Great Experience</a> </li>
                <li><a href="">Perfect Central Location</a></li>
            </ul>
        </div>
        <div class="end1">
            <b class="end-hd">Tag Cloud</b>
            <diV class="end1-label"><a href="" class="cloud">Aparment</a>
                <a href="" class="cloud">Home</a>
                <a href="" class="cloud">Vacation</a><br>
                <a href="" class="cloud">Rent</a>
                <a href="" class="cloud">House</a>
                <a href="" class="cloud">Place</a>
                <a href="" class="cloud">Drink</a> </diV>
             
        </div>
        <div class="end4">
            <b class="end-hd">Subscribe</b>
            <div class="Subscribe">
                <div class="subscribe-sub">
                <input type="email" id="" placeholder="Enter email address">
                <a href=""><button><i class="bi bi-send-fill"></i></button></a></div>
                <div class="follow">
                    <b>Follow Us</b>
                    <div class="social">
                        <a href=""><button><i class="bi bi-twitter-x"></i></button></a>
                    <a href=""><button><i class="bi bi-facebook"></i></button></a>
                    <a href=""><button><i class="bi bi-instagram"></i></button></a></div>
    
                </div>
            </div>
            
        </div>
       
    </div>