<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../static/css/contact.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="page">
        <div class="top-nav">
        <div class="top-nav-col1">
            <p>Phone no:
                <a href="tel:8219722473">+91 8219722473</a>
                or email us:
                    <a href="mailto:ts6308969@gmail.com">ts6308969@gmail.com</a>
            </div
            >
        <div class="top-nav-col2" >
            <a href="https://www.facebook.com/" >
                <i class="bi bi-facebook" ></i>
            </a>
            <a href="">
                <i class="bi bi-twitter"></i>

            </a>
            <a href="">
                <i class="bi bi-instagram"></i>

            </a>
            <a href="">
                <i class="bi bi-dribbble"></i>
            </a>
        </div>
    </div></div>
    <br>
    <div class="second-nav">

    <div class="second-nav-col1">
    <a href="">
        <b>Vacation<span>Rental</span></b>
    </a>
    </div>
   
   <div class="second-nav-col2">
    
    <a href="/index" ><button>Home</button> 
 </a>
    <a href="/about"><button>About</button>
    </a>
    <a href="/services"><button>Services</button></a>
    <a href="/apartment"><button>Aparment Room</button></a>
    <a href="/blog"><button>Blog</button></a>
    <a href="/contact"><button>Contact</button></a>
   </div>
   </div>
   <div class="about-page-pic">
    <p>HOME <i class="bi bi-caret-right-fill"></i> CONTACT<i class="bi bi-caret-right-fill"></i></p>
<h1>CONTACT</h1>
   </div>
   <div class="back">
<div class="contact">
    <div class="map ct">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54674.0939923498!2d77.11782132354678!3d31.078286363943178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390578e3e35d6e67%3A0x1f7e7ff6ff9f54b7!2sShimla%2C%20Himachal%20Pradesh!5e0!3m2!1sen!2sin!4v1726743946299!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="text ct1">
        <h4>Let's get started</h4>
        <p>Welcome to  VACATIONAL RENTAL,where unforgettable vacations begin! Discover a curated selection of stunning rental properties that offer comfort, style, and the perfect home away from home for your next getaway.</p>
        <a href="/apartment"><button>BOOK APARTMENT NOW</button></a>
    </div>
    <div class="form ct">
        <form id="contact-form">
            <p>Get in touch</p>
     <input type="text" placeholder="    Name" id="name"
     name="name">
     <input type="email" placeholder="    Email" id="email"
     name="email"><br>
     <input type="text" placeholder="    Subject" id="subject"
     name="subject" style="width: 50vw;"><br>
     <textarea type="text" placeholder="    Message" id="message"
     name="message" style="width: 50vw; margin-top: 10px; margin-left: 15px; font-size: large; border: 1px solid grey;" rows="5" cols="15"></textarea><br>
     <a href=""><button type="submit">SEND MESSAGE</button></a>
    </form>
    </div>
    <div class="address ct1">
        <h5>Let's get in touch</h5>
        <p>We're open for any suggestion or just to have a chat</p>
        <ul style="list-style-type: none;">
            <li ><span><i class="bi bi-geo-alt-fill"></i>     ADDRESS:</span><a href="">   144 East Mall Shimla 171207</a></li>
            <li><span><i class="bi bi-telephone-fill"></i>      PHONE:</span><a href="tel:8219722473">   8219722473</a></li>
            <li><span><i class="bi bi-envelope-fill"></i>      EMAIL:</span><a href="mailto:ts6308969@gmail.com">   ts6308969@gmail.com</a></li>
            <li><span><i class="bi bi-globe-central-south-asia"></i>      WEBSITE:</span><a href="/blog">   VacationalRental.com</a></li>
        </ul>
        
    </div>
</div></div>
<div class="end"> 
    <div class="end1">
        <b class="end-hd">Vacational Rental</b>
        <p>Create a user-friendly, mobile-responsive vacation rental website with detailed property listings, booking system, secure payments, and excellent customer support.</p>
        <a href="" class="end-but">Read more></a>
    </div>
    <div class="end1">
        <b class="end-hd">Services</b>
        <ul class="end1-services-li">
            <li><a href="">Map Direction</a></li>
            <li><a href="">Accomodation Services</a></li>
            <li><a href="">Great Experience</a> </li>
            <li><a href="">Perfect Central Location</a></li>
        </ul>
    </div>
    <div class="end1">
        <b class="end-hd">Tag Cloud</b>
        <diV class="end1-label"><a href="" class="cloud">Aparment</a>
            <a href="" class="cloud">Home</a>
            <a href="" class="cloud">Vacation</a><br>
            <a href="" class="cloud">Rent</a>
            <a href="" class="cloud">House</a>
            <a href="" class="cloud">Place</a>
            <a href="" class="cloud">Drink</a> </diV>
         
    </div>
    <div class="end4">
        <b class="end-hd">Subscribe</b>
        <div class="Subscribe">
            <div class="subscribe-sub">
            <input type="email" id="" placeholder="Enter email address">
            <a href=""><button><i class="bi bi-send-fill"></i></button></a></div>
            <div class="follow">
                <b>Follow Us</b>
                <div class="social">
                    <a href=""><button><i class="bi bi-twitter-x"></i></button></a>
                <a href=""><button><i class="bi bi-facebook"></i></button></a>
                <a href=""><button><i class="bi bi-instagram"></i></button></a></div>

            </div>
        </div>
        
    </div>
   
</div>
</body>
<script>
    (function() {
        emailjs.init("service_wktffir");
    })();

    const form = document.getElementById('contact-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();

        emailjs.sendForm('service_wktffir', 'template_30xtcvq', this)
            .then(function(response) {
                alert('Thank you! Your message has been sent successfully. We’ll get back to you shortly!');
                form.reset();
            }, function(error) {
                alert('Failed to send your message. Please try again.');
                console.error('EmailJS Error:', error);
            });
    });
</script>
</html>