<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>colorlib</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.emailjs.com/dist/email.min.js"></script>

</head>
<body>
    <div class="page">
        <div class="top-nav">
        <div class="top-nav-col1">
            <p>Phone no:
                <a href="tel:8219722473">+91 8219722473</a>
                or email us:
                    <a href="mailto:ts6308969@gmail.com">ts6308969@gmail.com</a>
            </div>
        <div class="top-nav-col2" >
            <a href="https://www.facebook.com/" >
                <i class="bi bi-facebook" ></i>
            </a>
            <a href="">
                <i class="bi bi-twitter"></i>

            </a>
            <a href="">
                <i class="bi bi-instagram"></i>

            </a>
            <a href="">
                <i class="bi bi-dribbble"></i>
            </a>
        </div>
    </div></div>

    <br>
    <div class="second-nav">

    <div class="second-nav-col1">
    <a href="">
        <b>Vacation<span>Rental</span></b>
    </a>
    </div>
   
   <div class="second-nav-col2">
    
    <a href="/index" ><button>Home</button> 
 </a>
    <a href="/about"><button>About</button>
    </a>
    <a href="/services"><button>Services</button></a>
    <a href="/apartment"><button>Rooms</button></a>
    <a href="/blog"><button>Blog</button></a>
    <a href="/contact"><button>Contact</button></a> 
    <div class="search-container">
        
        <select name="search-bar" id="" placeholder="search" style="border: rgb(82, 81, 81); font-size: 1.1rem ; color: grey; ">
        <option value="">search</option>
        <option value="">Himachal Pardesh</option>
        <option value="">Haryana</option>
        <option value="">Punjab</option>
        <option value="">Chandigarh</option>
    </select>
    <a href="/apartment"><button style="color: grey; border: 1px solid grey; border-radius: 2px; width: 80px;">search</button></a>

      </div>
    <div class="dropdown">
        <button class="dropbtn"><span><img src="../static/image/tushar.jpg">Account<i class="bi bi-caret-down-fill"></i></span></button>
        <div class="dropdown-content">
            <a href="/login" id="login-link"><i class="bi bi-person-circle"></i>  Login</a>
            <a href="/register" id="signup-link"><i class="bi bi-person-plus-fill"></i>  Signup</a><hr>
            <a href="/login" id="logout-link"><i class="bi bi-box-arrow-in-right"></i>  Logout</a>
        </div>
    </div>
   </div>
   </div>
    <br>
    <div class="pic">
        
            <div class="tab1">
    
<h2 class="subhed1" >WELCOME TO VACATION RENTAL</h2><br><br>
<h1 class="subhed2">Rent an apartment<bR> for your Vacation</h1><br><br>
   <div class="bt">
        <a href="/about" class="bt1"><button>Learn more</button></a>
        <a href="/contact" class="bt2"><button>Contact us</button></a></div></div>
        
        <div class="header-form">
            <form id="booking-form">
                <p>Book your apartment</p>
                <input type="text" placeholder="  Full Name" style="width: 95%; height: 20%" id="fullname" name="name">
                <span id="nameError"></span>
                <br>
                <input type="date" name="check-in" id="check-in" placeholder="Check-In" style="width: 45%; height: 20%;"  >
                <input type="date" name="check-out" id="Check-Out" placeholder="Check-Out" style="width: 45%; height: 20%">
                <br>
                <select name="adults" id="adults" style="width: 45%; height: 20%">
                  
                    <option value="">Adults</option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                    <option value="">5</option>
                </select>
                 <select name="children" id="children" style="width: 45%; height: 20%">
                    <option value="">Children</option>
                    <option value="">0</option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                </select>
                <br>
                <input type="tel" name="Phone-no" id="phone-no" placeholder="Phone No." style="width: 45%; height: 20%">
                <input type="time" name="" id="" placeholder="Time" style="width: 45%; height: 20%">
                
                    <a href="/apartment"> <button type="submit"> Book Apartment Now</button></a>
            </form>
        </div>
    
       </div> 
       <div class="win">
        <div class="bk">
        <div class="win1">
            <img src="../static/image/images (1).jfif" alt="">
            <h3>Map Direction</h3>
            <p>" Even the all-powerful Pointing has no <br>control about the blind texts it is an almost <br>unorthographic."</p>
            <a href=""><button>Read More</button></a>
        </div></div>
        <div class="bk">
        <div class="win2">
            <img src="../static/image/accomodation" alt="">
            <h3>Accomodation Services</h3>
            <p> "Even the all-powerful Pointing has no control <br>about the blind texts it is an almost <br>unorthographic."</p>
            <a href=""><button>Read More</button></a>
        </div></div>
        <div class="bk">
        <div class="win3">
            <img src="../static/image/services-3.jpg" alt="">
            <h3>Great Experience</h3>
            <p> "Even the all-powerful Pointing has no control <br>about the blind texts it is an almost<br> unorthographic."</p>
            <a href=""><button>Read More</button></a>
        </div>
        </div>
       </div>
       <div class="row-room">
        <div class="room-hd"><p>Apartment Room</p></div>
        <div class="room-grid">
       <div class="row-room-bk one"> 
        <div class="one-pic">
            <a href="/apartment"><img src="../static/image/suite.jpg" alt="/aparment"></a></div>

            <div class="one-txt"> 
             <p class="one-star">
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>

             </p>
                <div class="one-txt-hd">
                     <a href="/apartment" ><p>Suite Room</p></a></div>
                <div class="row-room-list">
                    <ul>
                        <li>
                            <span>Max:</span> 3 persons</li>
                        <li>
                
                            <span>Size:</span> 45 m<sup>2</sup></li>
                        <li>
                
                            <span>View:</span> Sea View</li>
                        <li>
                
                            <span>Bed:</span> 1</li>
                    </ul>
                     </div>
                     <div class="one-bt">
                     <a href="/apartment"> <button> View Room Details</button>
                    </a></div>
            </div>
        
       </div>  
       <div class="row-room-bk two" >
        <div class="one-pic">
            <a href="/aparment"><img src="../static/image/standard room.jpg" alt=""></a>
</div>
            <div class="one-txt"> 
             <p class="one-star">
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>

             </p>
                <div class="one-txt-hd">
                     <a href="/apartment" ><p>Standard Room</p></a></div>
                <div class="row-room-list">
                    <ul>
                        <li>
                            <span>Max:</span> 3 persons</li>
                        <li>
                
                            <span>Size:</span> 45 m<sup>2</sup></li>
                        <li>
                
                            <span>View:</span> Sea View</li>
                        <li>
                
                            <span>Bed:</span> 1</li>
                    </ul>
                     </div>
                     <div class="one-bt">
                     <a href="/apartment"> <button> View Room Details</button>
                    </a></div>
            </div>
        


         </div> 
       <div class="row-room-bk three"> 
        <div class="one-pic">
            <a href="/apartment"><img src="../static/image/family-room.jpg" alt=""></a>
</div>
            <div class="one-txt"> 
             <p class="one-star">
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>

             </p>
                <div class="one-txt-hd">
                     <a href="/apartment" ><p>Family Room</p></a></div>
                <div class="row-room-list">
                    <ul>
                        <li>
                            <span>Max:</span> 3 persons</li>
                        <li>
                
                            <span>Size:</span> 45 m<sup>2</sup></li>
                        <li>
                
                            <span>View:</span> Sea View</li>
                        <li>
                
                            <span>Bed:</span> 1</li>
                    </ul>
                     </div>
                     <div class="one-bt">
                     <a href="/apartment"> <button> View Room Details</button>
                    </a></div>
            </div>
        

       </div> 
       <div class="row-room-bk four"> 
        <div class="one-pic">
            <a href="/apartment"><img src="../static/image/deluxe.jpg" alt=""></a>
</div>
            <div class="one-txt"> 
             <p class="one-star">
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>
                <span><i class="bi bi-star-fill"></i></span>

             </p>
                <div class="one-txt-hd">
                     <a href="/apartment" ><p>Deluxe Room</p></a></div>
                <div class="row-room-list">
                    <ul>
                        <li>
                            <span>Max:</span> 3 persons</li>
                        <li>
                
                            <span>Size:</span> 45 m<sup>2</sup></li>
                        <li>
                
                            <span>View:</span> Sea View</li>
                        <li>
                
                            <span>Bed:</span> 1</li>
                    </ul>
                     </div>
                     <div class="one-bt">
                     <a href="/apartment"> <button> View Room Details</button>
                    </a></div>
            </div>
        </div>
       </div> 
       </div>  
       <div class="feedback">
        <div class="feedback-heading">
            <h2>Happy Clients & Feedbacks</h2>
        </div>
        <div class="feedback-content">
            <div class="feedback-content-item">
                <div class="fb-item-image">
                    <img src="../static/image/feedback1.enc" alt="">
                </div>
                <div class="fb-item-content">
                    <p>"Great property with a convenient location and excellent amenities. Perfect for a stress-free vacation. Definitely met all my expectations." </p>
                    <p class="intro">Saurav</p>
                    <p>Data Analyst</p>
                </div>
            </div>
            <div class="feedback-content-item">
                <div class="fb-item-image">
                    <img src="../static/image/feedback2.enc" alt="" >
                </div>
                <div class="fb-item-content">
                    <p>"Had a fantastic stay! The house was clean, well-equipped, well-furnished, and perfectly located. Great place to relax after coding all day."</p>
                    <p class="intro">Anku Rana</p>
                    <p>Software Developer</p>
                </div>
            </div>
            <div class="feedback-content-item">
                <div class="fb-item-image">
                    <img src="../static/image/feedback3.enc" alt="">
                </div>
                <div class="fb-item-content">
                    <p>"Fantastic stay! The property was clean, well-maintained, well-equipped, and perfectly located. Ideal for mixing business with leisure. Highly recommend!"</p>
                    <p class="intro">Eshita</p>
                    <p>Buisness Women</p>
                </div>
            </div>
        </div>
    </div>
       <div class="offer">
        <div class="offer-pic">
            <img src="../static/image/offerpic.webp" alt="" height="75%" width="100%" >
            <h9>The most recommended vacation rental</h9>
            <p>"Discover a variety of vacation rentals, from luxurious beachfront villas to cozy mountain cabins and charming countryside cottages. Enjoy top-notch amenities likeprivate pools, hot tubs, and gourmet kitchens. Located in prime destinations, these rentals offer easy access to local attractions and activities."</p>
        </div>
        <div class="offer-text">
            <div class="offer-text-hd">
                <h6>what we offer</h6></div>
            <p> Perfect for romantic retreats, family adventures, or solo escapes, each property provides a unique home away from home experience with flexible booking options and exceptional hospitality for a memorable getaway."</p>
            <div class="offer-text-offer one">
                <div class="offer-icon">
                    <span class="offer-icon1"><i class="bi bi-cup-hot"></i></span>
                </div>
            <div class=" offer-text-1">
                <h8>Tea Coffee</h8>
                <p>Our well-stocked selection of premium teas and high-quality coffees is available for your enjoyment.We have everything you need. </p>
            </div></div>
            <div class="offer-text-offer one">
                <div class="offer-icon">
                    <span class="offer-icon1"><i class="bi bi-water"></i></span>
                </div>
            <div class="offer-text-1 ">
                <h8>Hot Showers</h8>
                <p>our apartment features luxurious hot showers for your ultimate comfort. After a day of exploring, relax and rejuvenate with a soothing hot shower in our modern and well-appointed bathroom. </p>
            </div></div>
            <div class="offer-text-offer one">
                <div class="offer-icon">
                    <span class="offer-icon1"><i class="bi bi-box2"></i></span>
                </div>
            <div class="offer-text-1">
                <h8>Laundry</h8>
                <p> Our apartment features a modern washer and dryer, allowing you to refresh your wardrobe and enjoy an extended stay without the hassle.</p>
            </div></div>
            <div class="offer-text-offer one">
                <div class="offer-icon">
                    <span class="offer-icon1"><i class="bi bi-fan"></i></span>
                </div>
            <div class="offer-text-1">
                <h8>Air conditioning</h8>
                <p>Our apartment is equipped with a modern air conditioning system, allowing you to maintain the perfect temperature. </p>
            </div></div>
            <div class="offer-text-offer one">
                <div class="offer-icon">
                    <span class="offer-icon1"><i class="bi bi-wifi"></i></span>
                </div>
            <div class="offer-text-1">
                <h8>Free Wifi</h8>
                <p>Whether you need to catch up on work, stream your favorite shows, or stay in touch with loved ones, our reliable internet service ensures you have everything you need.  </p>
            </div></div>
            <div class="offer-text-offer one">
                <div class="offer-icon">
                    <span class="offer-icon1"><i class="bi bi-door-open"></i></span>
                </div>
            <div class="offer-text-1">
                <h8>kitchen</h8>
                <p>Our modern kitchen features all the appliances and utensils you need to prepare your favorite meals, from a quick breakfast to a gourmet dinner.  </p>
            </div></div>
            <div class="offer-text-offer one">
                <div class="offer-icon">
                    <span class="offer-icon1"><i class="bi bi-dash-lg"></i></span>
                </div>
            <div class="offer-text-1">
                <h8>Ironing</h8>
                <p> Our apartment is equipped with a high-quality iron and ironing board, allowing you to keep your clothes neat and wrinkle-free throughout your stay.  </p>
            </div></div>
            <div class="offer-text-offer one">
                <div class="offer-icon">
                    <span class="offer-icon1"><i class="bi bi-database-lock"></i></span>
                </div>
            <div class="offer-text-1">
                <h8>Lockers</h8>
                <p> Our apartment is equipped with personal lockers to store your valuables safely during your stay. Enjoy peace of mind knowing that your belongings are secure while you explore and relax.  </p>
            </div></div>
        </div>

       </div>
       <div class="pic-2">
        <div  class="pic-2-hd"><b>Ready to get started</b>
        <p>It’s safe to book online with us! Get your dream stay in clicks or drop us a line with your questions.</p>
<div class="pic-2-bt">
    <a href="/apartment" class="pic-2-bt1"><button>BOOK NOW</button></a>
    <a href="/contact"class="pic-2-bt2" ><button>CONTACT US</button></a></div>
       </div></div>


       <div class="blog">
        <div><p class="blog-hd1">Latest news from our blog</p>

        <p class="blog-hd-2">NEWS & BLOG</p></div>

        <div class="blog-block">
             <div class="blog-area blg1">
                 <div class="blg-pic">
                <img src="../static/image/blog1.webp" alt="/blog">
            </div>
            <div class="blg-text">
                <a href="/blog" class="blg-text-hd1">Work Hard, Party Hard in a Luxury Chalet in the Alps</a>
               <div class="blg-date"> <a href="/blog">
                <span class="blg-text-hd2">May 1,2023</span>
                <span class="blg-admin">Admin</span>
                <span class="msg"><i class="bi bi-chat-fill"><sup>7</sup></i></span></a></div>
            <p class="blg-text-hd3">Experience productivity and relaxation in an Alpine luxury chalet, blending stunning views, modern amenities, and thrilling après-ski activities. Work hard, party hard!  </p></div></div>
        
            <div class="blog-area blg1">
                <div class="blg-pic">
               <img src="../static/image/blog2.avif" alt="/blog">
           </div>
           <div class="blg-text">
               <a href="/blog" class="blg-text-hd1">Essential Skills for Thriving in Web Development Today</a>
               <div class="blg-date"><a href="/blog">
                   <span class="blg-text-hd2">April 13,2023</span>
                    <span class="blg-admin">Admin</span>
                    <span class="msg"><i class="bi bi-chat-fill"><sup>7</sup></i></span></a></div>
           <p class="blg-text-hd3">Web developers need proficiency in HTML, CSS, and JavaScript, as well as knowledge of responsive design, version control, and frameworks like React or Angular to succeed in today's competitive landscape.  </p></div></div>

           <div class="blog-area blg1">
            <div class="blg-pic">
           <img src="../static/image/blog3.jpg" alt="/blog">
       </div>
       <div class="blg-text">
           <a href="" class="blg-text-hd1">Top Destinations: Perfect Getaways for Adventure Junkies</a>
           <div class="blg-date"><a href="/blog">
               <span class="blg-text-hd2">December 30,2023</span>
               <span class="blg-admin">Admin</span>
               <span class="msg"><i class="bi bi-chat-fill"><sup>7</sup></i></span></a></div>
       <p class="blg-text-hd3">
        Discover thrilling destinations, adrenaline-pumping activities, and expert tips for adventure junkies. Embrace your wild side and embark on unforgettable journeys around the world. </p></div>
     
      
        </div></div></div>
       
<div class="end"> 
    <div class="end1">
        <b class="end-hd">Vacational Rental</b>
        <p>Create a user-friendly, mobile-responsive vacation rental website with detailed property listings, booking system, secure payments, and excellent customer support.</p>
        <a href="" class="end-but">Read more></a>
    </div>
    <div class="end1">
        <b class="end-hd">Services</b>
        <ul class="end1-services-li">
            <li><a href="">Map Direction</a></li>
            <li><a href="">Accomodation Services</a></li>
            <li><a href="">Great Experience</a> </li>
            <li><a href="">Perfect Central Location</a></li>
        </ul>
    </div>
    <div class="end1">
        <b class="end-hd">Tag Cloud</b>
        <diV class="end1-label"><a href="" class="cloud">Aparment</a>
            <a href="" class="cloud">Home</a>
            <a href="" class="cloud">Vacation</a><br>
            <a href="" class="cloud">Rent</a>
            <a href="" class="cloud">House</a>
            <a href="" class="cloud">Place</a>
            <a href="" class="cloud">Drink</a> </diV>
         
    </div>
    <div class="end4">
        <b class="end-hd">Subscribe</b>
        <div class="Subscribe">
            <div class="subscribe-sub">
            <input type="email" id="" placeholder="Enter email address">
            <a href=""><button><i class="bi bi-send-fill"></i></button></a></div>
            <div class="follow">
                <b>Follow Us</b>
                <div class="social">
                    <a href=""><button><i class="bi bi-twitter-x"></i></button></a>
                <a href=""><button><i class="bi bi-facebook"></i></button></a>
                <a href=""><button><i class="bi bi-instagram"></i></button></a></div>

            </div>
        </div>
        
    </div>
   
</div>
</body>
<script>
    (function() {
        emailjs.init("soxLs0_dnFeBbsOxw");
    })();

    const form = document.getElementById('booking-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        emailjs.sendForm('service_wktffir', 'template_qzlgi3a', this)
            .then((response) => {
                alert('Your booking has been submitted successfully!');
                form.reset();
            })
            .catch((error) => {
                alert('Failed to submit your booking. Please try again.');
            });
    });
    function toggleSearchBar() {
      const searchBar = document.querySelector('.search-bar');
      searchBar.classList.toggle('active');
    }
</script>
</html>
