<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
  <div class="register-wrapper">
      <div class="register-image"></div>
      <div class="register-form-container">
          <h1>Register</h1>
          <p>Create an account to manage your properties and rentals.</p>
          <form class="register-form" action="/register" method="post">
              <input type="text" required placeholder="Full Name" name="name">
              <input type="email" required placeholder="Email" name="email">
              <input type="password" required placeholder="Password" name="password">
              <input type="password" required placeholder="Confirm Password" name="confirm_password">
             <a href="/" class="reg-page-but"><button >Register</button></a>
          </form>
          <p class="register">Already have an account? <a href="/">Login</a></p>
          <% if(locals.message) { %>
              <h3 class="message"><%=message%></h3>
          <% } %>
      </div>
  </div>
</body>
</html>
