<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
  <div class="register-wrapper">
      <div class="register-image"></div>
      <div class="register-form-container">
          <h1>Register</h1>
          <div class="preview">
            <img src="" alt="" id="img-form-1">
          </div>
          <p>Create an account to manage your properties and rentals.</p>
          <form class="register-form" action="/register" method="post">
              <input type="text" required placeholder="Full Name" name="name">
              <input type="email" required placeholder="Email" name="email">
              <input type="password" required placeholder="Password" name="password">
            <input class="img" type="file" accept="image/*"  onchange="showPreview(event);" id="img-form" required placeholder="image" name="image">
             <a href="/" class="reg-page-but"><button >Register</button></a>
          </form>
          <p class="register">Already have an account? <a href="/">Login</a></p>
          <% if(locals.message) { %>
              <h3 class="message"><%=message%></h3>
          <% } %>
      </div>
  </div>
  <script type="text/javascript">
    function showPreview(event){
        if(event.target.files.length>0){
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("img-form-1");
            preview.src = src;
            preview.style.display="block";

        } 
    }

  </script>
</body>
</html>
