
.about-page-pic {
    height: 70vh;
    background-image: url('../image/about.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    padding-top: 25vh;
    animation: fadeIn 2s ease-in-out;
}
.about-page-pic p {
    font-size: medium;
    font-weight: bold;
    color: rgb(233, 220, 202);
    padding-bottom: 20px;
    opacity: 0;
    animation: fadeIn 3s ease-in-out 1s forwards;
}

.about-page-pic h1 {
    font-size: 3em;
    color: white;
    opacity: 0;
    animation: fadeIn 3s ease-in-out 0.5s forwards;
}
.about-win {
    width: 100vw;
    height: 120vh;
    padding-top: 20vh;
    display: flex;
    background-color: whitesmoke;
    animation: slideIn 1s ease-out;
}
.about-feedback {
    position: relative;
    height: 140vh;
    width: 100vw;
    background-color: #F3F4F7;
    animation: slideIn 1s ease-out 0.5s;
}
.about-offer {
    height: 170vh;
    width: 100vw;
    background-color: #f3f4f8;
    position: relative;
    display: flex;
    z-index: 2;
    animation: slideIn 1s ease-out 1s;
}
.about-end {
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: #272727;
    display: flex;
    justify-content: space-around;
    animation: slideIn 1s ease-out 1.5s;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-page-pic h1 {
        font-size: 2em;
    }

    .about-page-pic p {
        font-size: smaller;
    }

    .about-win, .about-feedback, .about-offer, .about-end {
        height: auto;
        padding-top: 10vh;
    }

    .about-offer {
        height: auto;
    }
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
